{
        auto_https off
}
vault.archex.dev:80 {
	handle {
	   reverse_proxy vaultwarden:80
	}
}
scrolls.archex.dev:80 {
    
    handle_path /scrolls/* { 
        root * /srv/static
        file_server
    }
    handle {
        reverse_proxy memos:5230
    }
}
